*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, black, grey);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 10%;
  grid-template-columns: repeat(4, 13%);
  grid-template-rows: minmax(60%, auto) repeat(5, 40%);
}

.calculator-grid > button {
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  font-size: 18px;
  font-weight: bold;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: white;
}

.orange {
  background-color: orange;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  font-size: 30px;
  padding: 5px;
}
