*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background: linear-gradient(to right, black, grey);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 5%;
  grid-template-columns: repeat(4, 13%);
  grid-template-rows: minmax(60%, auto) repeat(5, 40%);
}

.calculator-grid > button {
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  font-size: 18px;
  font-weight: bold;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: white;
}

.orange {
  background-color: orange;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  font-size: 30px;
  padding: 5px;
}

.dad-joke-container {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

/* Navigation */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.page-name {
  flex-grow: 1;
  color: gold;
  font-size: 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 10px;
}

li:last-child {
  margin-right: 0; /* Remove margin for the last item */
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Home page */

.home-container {
  margin: 10% 5% 5% 5%;
  color: white;
}

.home-container h1 {
  padding-bottom: 40px;
}

/* Quote page */

.joke {
  display: flex;
  justify-content: center;
  color: white;
  font-size: larger;
  margin-top: 20%;
  padding: 0 5%;
}

.loading {
  color: gold;
}

.error {
  color: red;
}
